@import url("./imports/links.css");
@import url("./imports/reset.css");
@import url("./imports/variables.css");

.checkout-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3rem;
  gap: 1rem;
}

.checkout-cta {
  display: flex;
  justify-content: center;
}

.checkout-success h1 {
  color: #258666;
}

.checkout-success img {
  max-height: 100%;
  max-width: 100%;
  width: 30rem;
}
