@import url("./imports/links.css");
@import url("./imports/reset.css");
@import url("./imports/variables.css");

.checkout {
  display: grid;
  gap: 0;
  grid-auto-columns: auto;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "summary"
    "shipping"
    "payment"
    "button";
  margin: 0 auto;
  max-width: 100vw;
}

#cart-summary {
  grid-area: summary;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1rem;
  margin: 1rem;
}

.shipping {
  grid-area: shipping;
  margin: 1rem;
}

.payment {
  grid-area: payment;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 1rem;
}

.checkout-button {
  grid-area: button;
}

#cart-summary h1,
form h2 {
  font-size: var(--small-heading-desktop);
  text-align: left;
}

#cart-summary img {
  max-width: 10%;
}

form {
  border: 0.1rem solid var(--color-form);
  padding: 1rem;
  margin: 1rem;
}

form h2 {
  margin-left: 0.3rem;
}

form p {
  color: var(--color-form-text);
  font-size: 0.8rem;
  margin-left: 1rem;
}

.shipping p {
  margin-top: 0;
  margin-left: 0.3rem;
}

.flex-inputs {
  display: flex;
  max-width: 100%;
}

.flex-inputs > * {
  flex: 1;
}

.quarter {
  flex: 1;
}

.three-quarters {
  flex: 3;
}

.container {
  max-width: 100%;
  margin: 0.7rem 0.3rem;
  border: 0.15rem solid var(--color-form);
  border-radius: 0.3rem;
}

.container--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > * {
  max-width: 100%;
  margin: 0.3rem 0.5rem;
}

.container img {
  max-width: 100%;
  max-height: 2rem;
}

.container input[type="radio"] {
  margin-right: 1rem;
  size: 1rem;
}

.bold-label {
  flex: 1;
  font-weight: 570;
  color: var(--color-primary);
}

.vipps {
  display: flex;
  align-items: center;
}

.card-logos {
  display: flex;
}

.security {
  width: 48.5%;
  margin: auto 0.8rem 3rem 0.8rem;
}

#cta--cart {
  width: 100%;
}

#cart-summary--product {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.checkout h1 {
  border-bottom: 0.1rem solid var(--color-secondary);
}

#cart-summary--product img {
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
}

#cart-summary--product > * {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#product-info-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}

#cart-summary--product p {
  margin: 0;
}

.cart-summary--total {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid var(--color-secondary);
}

.cart-summary--total div {
  margin-top: 1rem;
}

.cart-summary--total div > * {
  margin: 0;
}

.checkout-button {
  margin: 0 3rem;
}

.total {
  padding-bottom: 1rem;
}

.adjust-quantity {
  display: flex;
}
