@import url("./imports/links.css");
@import url("./imports/reset.css");
@import url("./imports/variables.css");

.contact {
    background: no-repeat url("../../assets/images/inge-maria-pv2ZlDfstXc-unsplash.jpg");
    background-size: cover;
    display: grid;
    grid-auto-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "content content"
    "submit submit"
    ;
    margin: 0 auto;
    max-width: 100vw;
  }

.contact--content {
    grid-area: content;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem;
    max-width: 100%;
    margin: 5rem 5rem 1.5rem 5rem;
    padding: 3rem;
}

.contact--content p {
    max-width: 100%;
}
  
.contact--content h1 {
    text-align: left;
    text-transform: none;
    margin: 0 0 3rem 0;
}

.contact--submission {
    grid-area: submit;
    max-width: 50rem;
    margin: 1.5rem 5rem 5rem 5rem;
}
  
.contact-form {
    background: rgba(218, 218, 218,0.5);
    max-width: 100%;
    height: auto;
    padding: 3rem;
  }
  
.contact-form-inputs {
    flex: 1;
  }
  
.contact-form-textarea {
    flex: 3;
  }

.margin0   {
    margin: .2rem -1px;
  }

.contact-cta {
    min-width: 100%;
}

#contact-button {
    width: 89%;
    margin: 3rem 3rem 0 3rem;
  }