@import url("./imports/links.css");
@import url("./imports/reset.css");
@import url("./imports/variables.css");

.index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "new-stock new-stock"
    "canoe canoe"
    "newsletter newsletter"
    "sale sale"
    ;
    margin: 0 auto;
    max-width: 100vw;
}

/* Banner */

.banner {
    background-image: url(../../assets/images/karsten-winegeart-PALZIxURNHk-unsplash.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    border-bottom: none;
    position: relative;
    margin: 0 auto;
  }

.banner div {
    display: flex;
    justify-content: center;
}
  
  .banner-content {
    display: flex;
    color: var(--color-secondary);
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    text-align: center;
  }

  /* New stock */

  .new-stock {
    grid-area: new-stock;
    margin-top: 3rem;
  }

  .new-stock--content {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    margin: auto auto auto 1.5rem;
  }
  
  .new-stock h2 {
    text-transform: initial;
    color: var(--color-cta);
  }

  /* Newsletter */

  .newsletter {
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem;
    border-radius: var(--border-radius);
    z-index: 1;
    margin: 1rem;
    padding: 2rem;
    max-width: 100vw;
}
  
  #sub-email {
    border-style: none;
    border-radius: 5rem;
    max-width: 20rem;
    height: 2rem;
  }
  
  .subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Canoe image */
  .canoe {
    grid-area: canoe;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .canoe img {
    max-width: 100%;
    max-height: 100%;
  }
  
  /* Sale banner */
  
  .sale {
    grid-area: sale;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  
  .sale-img {
    max-width: 100%;
    max-height: auto;
  }
  
  .sale img {
    display: none;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    border: solid var(--color-cta);
  }
  
  .sale-tag {
    color: var(--color-secondary);
    background-color: var(--color-cta);
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sale-tag p {
    font-size: var(--medium-header-desktop);
    margin: 0;
    font-weight: var(--bold-font);
  }
  
  .sale-tag .big {
    font-size: 4rem;
  }